@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animate($name, $duration, $timing, $direction, $delay: 0) {
  animation: $name $duration $timing $direction $delay;
}

@include keyframes(show) {
  0% {
    opacity: 1;
    transform: scale(1) translateX(100vw);
  }
  30% {
    transform: scale(0.8, 1.2) translateX(-10vw);
  }
  50% {
    transform: scale(1, 0.8) translateX(5vw);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@include keyframes(hide) {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: scale(1) translateX(110vw);
  }
  30% {
    transform: scale(0.8, 1.2) translateX(110vw);
  }
  100% {
    transform: scale(1) translateX(100vw);
  }
}

@mixin show {
  @include animate(show, 2s, ease, forwards, 0.2s);
}

@mixin hide {
  @include animate(hide, 2s, ease, forwards);
}
