@import "./variables";

#contact {
  position: fixed;
  width: calc(100vw - 30vh);
  top: 50%;
  transform: translateX(100vw) translateY(-50%);
}

.hide-contact {
  transform: translateX(0);
  animation: hideContact 2s ease forwards;
}

.show-contact {
  animation: showContact 2s ease forwards 0.2s;
}

@keyframes showContact {
  0% {
    transform: translateX(100vw) translateY(-50%);
  }
  30% {
    transform: translateX(-10vw) translateY(-50%);
  }
  50% {
    transform: translateX(5vw) translateY(-50%);
  }
  100% {
    transform: scale(1) translateX(0) translateY(-50%);
  }
}

@keyframes hideContact {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  25% {
    transform: translateX(110vw) translateY(-50%);
  }
  30% {
    transform: translateX(110vw) translateY(-50%);
  }
  100% {
    transform: translateX(100vw) translateY(-50%);
  }
}
