@import "./variables";
@import "./mixin";

footer {
  background: $bg1;
  box-shadow: $textColor 0px -5px 5px;
  transform: rotate(296deg) translateY(94%);
  position: fixed;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 11;
  transition: all 0.7s;
}

.footer-on-projects {
  // transform: rotate(270deg) translateY(141%);
  transform: rotate(270deg) translateY(131%);

  & #account-wrapper {
    // right: 25.3% !important;
    right: 22.3% !important;
  }
}

@keyframes icons {
  from {
    right: 0%;
  }
}
