@import "./variables";
@import "./animations";

#home {
  position: fixed;
  width: 100vw;
  opacity: 0;
}

.show-home {
  @include show;
}

.hide-home {
  @include hide;
}

#data-home {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    font-size: 1.2em;
    color: $accent1;
  }

  h1 {
    margin: 2rem 0;
  }

  h2 {
    margin: 0;
  }
}

.home-idle {
  width: 100%;
  height: 100vh;
  circle {
    fill: $bgColor1;
    stroke: $accent1;
    stroke-width: 7;
    stroke-dasharray: 70 20;
    stroke-linecap: round;
    transform-origin: center;
    animation: strokePlay 7s ease-in-out infinite alternate-reverse;
  }
}

@keyframes strokePlay {
  0% {
    stroke-dasharray: 70 20;
    stroke-dashoffset: 0;
    transform: scale(1);
  }
  100% {
    stroke-dasharray: 63 20;
    stroke-dashoffset: 300;
    transform: scale(1.3);
  }
}
