@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

@import "./variables";
@import "./mixin";
@import "./media_queries";

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body {
  @include bgGradient(142deg);
  height: 100vh;
  background-color: $bg2;

  &::before {
    @include bgGradient(57deg);
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
  }
}
