@import "./variables";
@import "./mixin";

#navigation {
  background: $bg1;
  box-shadow: $textColor 0px 5px 5px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  color: $textColor;
  z-index: 10;
  pointer-events: none;

  a {
    margin: 0 0.8rem;
    text-decoration: none;
    color: $textColor;
    font-size: 5vh;
    font-weight: bold;
    transition: color 0.2s, transform 0.2s;
    &:hover {
      color: $accent2;
      transform: scale(1.1);
    }
  }

  transform: rotate(26deg) translateY(-93%);
  animation: initializeNav 0.7s;
}

.on-projects {
  transform: rotate(0) translateY(-93%) !important;

  & #nav-wrapper {
    right: 4.5%;
  }
}

.default-nav {
  transition: all 0.7s;
}

.active-page {
  color: $accent2 !important;
  transform: scale(1.1);
}

@keyframes initializeNav {
  from {
    transform: rotate(26deg) translateY(-193%);
  }
}

#nav-wrapper {
  position: absolute;
  bottom: 0;
  right: 28%;
  display: flex;
  pointer-events: all;
  transition: all 0.7s;
}
