@import "./variables";
@import "./animations";
@import "./HighlightProjects";
@import "./NormalProjects";

#projects {
  position: fixed;
  overflow-x: visible;
  // height: 100vh;
  width: 100vw;
  top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  h1 {
    margin: 0 0 2rem 0;
  }
  @include show;
}

// .show-projects {
//   // position: absolute !important;
//   transition-property: position;
//   transition-delay: 2s;
// }

.hide-projects {
  @include hide;
}
