@import "../variables";

#greet {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text {
    fill: $textColor;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    stroke-width: 5;
    cursor: default;
    animation: waitClick 1s reverse infinite;
  }

  .greet {
    fill: transparent;
    stroke: #fff;
    font-size: 10rem;
    font-weight: 400;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
    animation: animateText 7s forwards, glow 1s ease-in-out infinite alternate;
  }

  .hide-welcome {
    fill: transparent;
    stroke: #fff;
    font-size: 10rem;
    font-weight: 400;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
    animation: hideText 1s, glow 1s ease-in-out infinite alternate;
  }
}

@keyframes animateText {
  0% {
    stroke-dasharray: 0% 100%;
  }
  100% {
    stroke-dasharray: 100% 0%;
  }
}

@keyframes hideText {
  0% {
    stroke-dasharray: 100% 0%;
  }
  100% {
    stroke-dasharray: 0% 100%;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $accent1,
      0 0 40px $accent1, 0 0 50px $accent1, 0 0 60px $accent1, 0 0 70px $accent1;
  }
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px $accent2, 0 0 40px $bgColor2,
      0 0 50px $accent2, 0 0 60px $accent2, 0 0 70px $accent2, 0 0 80px $accent2;
  }
}

@keyframes waitClick {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(3%);
  }
}

@media (max-width: 985px) {
  #greet {
    .greet {
      font-size: 13rem;
      transform: translateY(-5%);
    }

    text {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 375px) {
  #greet {
    .greet {
      font-size: 16rem;
      transform: translateY(-5%);
    }

    text {
      font-size: 3.5rem;
    }
  }
}
