@-webkit-keyframes show {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(100vw);
            transform: scale(1) translateX(100vw);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateX(-10vw);
            transform: scale(0.8, 1.2) translateX(-10vw);
  }
  50% {
    -webkit-transform: scale(1, 0.8) translateX(5vw);
            transform: scale(1, 0.8) translateX(5vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
}

@keyframes show {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(100vw);
            transform: scale(1) translateX(100vw);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateX(-10vw);
            transform: scale(0.8, 1.2) translateX(-10vw);
  }
  50% {
    -webkit-transform: scale(1, 0.8) translateX(5vw);
            transform: scale(1, 0.8) translateX(5vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: scale(1) translateX(110vw);
            transform: scale(1) translateX(110vw);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateX(110vw);
            transform: scale(0.8, 1.2) translateX(110vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(100vw);
            transform: scale(1) translateX(100vw);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: scale(1) translateX(110vw);
            transform: scale(1) translateX(110vw);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateX(110vw);
            transform: scale(0.8, 1.2) translateX(110vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(100vw);
            transform: scale(1) translateX(100vw);
  }
}

#home {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-home {
  -webkit-animation: show 2s ease forwards 0.2s;
          animation: show 2s ease forwards 0.2s;
}

.hide-home {
  -webkit-animation: hide 2s ease forwards 0s;
          animation: hide 2s ease forwards 0s;
}

#data-home {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#data-home span {
  font-size: 1.2em;
  color: #bb4430;
}

#data-home h1 {
  margin: 2rem 0;
}

#data-home h2 {
  margin: 0;
}

#data-home::before {
  position: absolute;
  width: 350px;
  height: 350px;
  content: "";
  padding: 4rem;
  border-radius: 50%;
  border-style: dotted dashed;
  border-width: 7px;
  border-color: #231f20;
  -webkit-animation: borderSpin 15s cubic-bezier(0.51, -0.02, 0.65, 1.06) infinite;
          animation: borderSpin 15s cubic-bezier(0.51, -0.02, 0.65, 1.06) infinite;
}

#data-home::after {
  position: absolute;
  width: 330px;
  height: 330px;
  content: "";
  padding: 4rem;
  border-radius: 50%;
  border-style: dotted dashed;
  border-width: 4px;
  border-color: #588b8b;
  -webkit-animation: borderSpin2 15s cubic-bezier(0.51, -0.02, 0.65, 1.06) infinite;
          animation: borderSpin2 15s cubic-bezier(0.51, -0.02, 0.65, 1.06) infinite;
}

@-webkit-keyframes borderSpin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes borderSpin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes borderSpin2 {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes borderSpin2 {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=Home.css.map */